extends layout

block content
    form(action="/register" method="post")
        h2 Please register here
        input(type="text", name="username", placeholder="joebloggs")
        input(type="password", name="password", placeholder="password")
        button(type="submit") register